//fonts
$font-title: 'Lobster', cursive;
$font-general: 'Roboto', sans-serif;
$font-logo: 'Dancing Script', cursive;



//colors

$color-primary: rgb(218, 98, 125);
$color-secundary: rgb(69, 9, 32);
$color-dark: rgb(51, 51, 51);
$color-gray: rgba(51, 51, 51, 0.5);
$color-light: rgb(255, 255, 255);
