/*.nav{
    padding: 5px;
    @include flex-jc(space-between);
    
    background-color: $color-secundary;
    color: $color-light;
    &__list{
        list-style: none;
        @include flex-jc(flex-end);
        padding-right: 30px;
    }
    &__item{
        text-decoration: none;
        padding: 10px;
        font-weight: bold;
        &:hover{
        border-bottom: 1px solid $color-primary;
        }
        
    }
    &__link{
        text-decoration: none;
        &:link,&:visited{
        color: $color-light;
        }
    }
}
.logo{
    font-size: 40px;
    color: $color-light;
    padding-left: 30px;
    font-family: $font-logo;
}*/

