/*.card{
    width: 32%;
    border: .5px solid $color-gray;
    margin: 5px;
    border-radius: 5%;
    &__title{
        padding-bottom: 10px;
    }
    text-align: center;
    padding: 15px ;
    &__img{
        width: 150px;
        height: 150px;
        border-radius: 100%;      
    }
    &__text{
        padding: 0 35px;
    }
}*/